PORT=3001
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=ekyc
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SYNCHRONIZE=true
OCR_SERVICE_URL=http://127.0.0.1:8000
JWT_SECRET=super_secret_key_123
EMAIL_USER=boutitimedamine1@gmail.com
EMAIL_PASS=whln ctdf exuk xsyk
FRONTEND_URL=http://localhost:5173
# ACTIVATION_RESEND_DELAY_HOURS=48  
ACTIVATION_RESEND_DELAY_MINUTES=1
NODE_ENV=development
